body{
    width: 95vw;
    height: 95vh;
    border: 3px solid rgb(5, 5, 122);
    border-radius: 3px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family:cursive;
    margin-left: 2%;
}

p{
    width: 70%;
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: brown;
    border: 1px solid brown;
    font-size: 300%;
    position:relative;
    text-align: center;
  
}

#shuffle{
    width: 10%;
    height: 5%;
    border:outset;
    border-radius: 3px;
    background-color: rgb(161, 125, 125);
    position: absolute;
    top:18%;
    left:70%;


}

#card1{
    width: 30%;
    height: 50%;
    border: 1px solid brown;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}




#card2{
    width: 30%;
    height: 50%;
    border: 1px solid brown;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    
}

#card3{
    width: 30%;
    height: 50%;
    border: 1px solid brown;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

figure{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.recette{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;

}

.buttons{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items:center;
}

.btn1{
    width: 50%;
    height: 40%;
    border:outset;
    font-family: arial;
    font-weight: 200;
  
    

}

.btn2{
    width: 20%;
    height: 40%;
    border:outset;
    font-family: arial;
    font-weight: 200;
    background-color: rgb(161, 125, 125);
   
    
}


figure img{
    width: 40%;
    height: 80%;
    border-radius: 50%;
    
}

figure figcaption{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
}

@media(max-width: 600px){

    body{
        height: auto;  /*donner une taille auto ajuste directement le contenu à l'écran meme si le contenu est comprimé, tout rentre dedans ( et on a pas de partie non visible en bas de l'écran mobile)*/
        padding-bottom: 10%;
        border:none;
        row-gap:20px; /*si je mets le gap en % le gap n'a pas de place pour s'étendre, alors pour forcer on met en px*/   
    }

    p{
        font-size: 150%;
        height: 5%;
    }

    #shuffle{
        width: 50%;
        height: 5%;
        position:unset; 
        border-radius: 10px;
    }

    
    #card1, #card2, #card3 {
        width:80%; 
        height:60%;
        padding-bottom: 10px;
        
    }

    figure{
        flex-direction: column;
        font-size:100%;
        text-align: center;
    }

    .recette{
        font-size: 90%;
    }

    .btn1, .btn2{
        border-radius: 10px;
        height: 50%;
    }
}