* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "GothamOfficeRegular";
    text-transform: uppercase;
    font-size: 1.4em;
    background-image: url("../../assets/images/BGR1.avif");
    background-size: cover; /* Utilisation de 'contain' pour inclure complètement l'image */
    background-position: center 20%;
    background-repeat: no-repeat;
    transition: background-image 0.8s ease-in-out; /* Transition plus fluide */
    -webkit-animation: color-change-2x 15s ease-in-out 1s infinite alternate-reverse both;
    animation: color-change-2x 15s ease-in-out 1s infinite;
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@keyframes color-change-2x {
    0% {
        background-image: url("../../assets/images/BGR1.avif");
    }

    20% {
        background-image: url("../../assets/images/BGR2.avif");
    }

    40% {
        background-image: url("../../assets/images/BGR3.avif");
    }

    60% {
        background-image: url("../../assets/images/BGR4.avif");
    }

    80% {
        background-image: url("../../assets/images/BGR5.avif"); /* Boucle vers le début */
    }

    100% {
        background-image: url("../../assets/images/BGR1.avif"); /* Boucle vers le début */
    }
}

.readyBtn {
    margin-top: 3%;
    padding: 12px 30px;
    border: 2px solid #b3911f;
    border-radius: 3px;
    background: #ffffff;
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition allongée */
    cursor: pointer;
    font-family: "GothamOfficeRegular";
}

.readyBtn:hover {
    background-color: #b3911f;
    color: #ffffff;
}
