@font-face {
    font-family: Karstar Free;
    src: url(/Fonts/Karstar\ Free.ttf);
}

/*HTML*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color-light: #4b64f2;
    --main-color-mid: #171fbf;
    --main-color-dark: #060e40;
    --accent-color-main: #f28907;
    --accent-color-specific: #f25270;
}

@view-transition {
    navigation: auto;
}

/*BODY*/
body {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background\ FINAL3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEDEAR */

header {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #060e4034;
}

#cube {
    width: 10%;
    height: 100%;
    transform-style: preserve-3d;
    animation: 20s cube-rotate linear infinite;
}

#frontSide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    background-color: #060e40c5;
    transform: translateZ(5%);
    animation: 8s unfold-front linear infinite;
}

#backSide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    background-color: #060e40c5;
    transform: translateZ(-5%);
    animation: 8s unfold-back linear infinite;
}

#leftSide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    background-color: #171fbf85;
    transform: translateX(-5%) rotateY(90deg);
    animation: 8s unfold-left linear infinite;
}

#rightSide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    background-color: #171fbf85;
    transform: translateX(5%) rotateY(90deg);
    animation: 8s unfold-right linear infinite;
}

#topSide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    background-color: #4b64f28c;
    transform: translateY(-5%) rotateX(90deg);
    animation: 8s unfold-top linear infinite;
}

#bottomSide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 50%;
    height: 50%;
    transform-style: preserve-3d;
    background-color: #4b64f28c;
    transform: translateY(5%) rotateX(90deg);
    animation: 8s unfold-bottom linear infinite;
}

#navbar {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem;
    color: #f28807e0;
    border-bottom: solid 1px #f28907;
}

#navbar > a {
    color: #f28807e0;
    text-decoration: none;
    transition: 0.5s;
    width: auto;

}

#navbar > a:hover {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    transition: 0.5s;
}

.p&Img

.chevronDown {
    margin-left: -3%;
    transition: 0.5s;
}

.containerDropdown{
 display:none;
}


/*MAIN*/

main {
    width: 100%;
    height: 77%;
    position: relative;
}

#stickyElement {
    padding: 0.9%;
    width: 1%;
    height: 18%;
    background-color: white;
    border-radius: 10px;
    position: sticky;
    top: 0;
    left: 99%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background-color: #060e4034;
    border: 2px solid #0d63ca;
}

#stickyElement:hover {
    width: 2%;
    height: 18%;
    transition: 0.5s;
}

#currentPage {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: white;
    transform: rotate(90deg);
    margin-top: 35%;
}

#topArrow {
    width: 100%;
    height: 100%;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #060e4034;
    z-index: 3;
}

#fakeDiv {
    width: 33.3%;
}

#socialMedia {
    width: 33.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

#socialMedia > a > img {
    transition: 0.5s ease;
}
#socialMedia > a > img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 0.5s ease;
}

#copyrightText {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    align-items: center;
    color: #4b64f2;
    opacity: 0.5;
    font-family: Karstar Free;
    font-size: 6rem;
}

/* Animations Accueil  */

@keyframes unfold-top {
    0%,
    100% {
        transform: translateY(-4rem) rotateX(90deg);
    }
    50% {
        transform: translateY(-8rem) rotateX(90deg);
    }
}

@keyframes unfold-bottom {
    0%,
    100% {
        transform: translateY(4rem) rotateX(90deg);
    }
    50% {
        transform: translateY(8rem) rotateX(90deg);
    }
}

@keyframes unfold-front {
    0%,
    100% {
        transform: translateZ(4rem);
    }
    50% {
        transform: translateZ(8rem);
    }
}

@keyframes unfold-back {
    0%,
    100% {
        transform: translateZ(-4rem);
    }
    50% {
        transform: translateZ(-8rem);
    }
}

@keyframes unfold-right {
    0%,
    100% {
        transform: translateX(4rem) rotateY(90deg);
    }
    50% {
        transform: translateX(8rem) rotateY(90deg);
    }
}

@keyframes unfold-left {
    0%,
    100% {
        transform: translateX(-4rem) rotateY(90deg);
    }
    50% {
        transform: translateX(-8rem) rotateY(90deg);
    }
}

@keyframes cube-rotate {
    100% {
        transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
    }
}
