* {
  margin: 0;
  padding: 0;
}

.mainPolicy {
  width: 100vw;
  height: 70vh;
  display: flex;
}

.mainPolicyText {
  width: 70%;
  padding: 3%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  color: black;
  font-family: "GothamOfficeRegular";
  font-size: 1.2em;
  margin-left: 3%;
}

.mainPolicyText::-webkit-scrollbar {
  width: 6px; /* Largeur verticale de la scrollbar */
}


/* Style de la piste */
.selector::-webkit-scrollbar-track {
  background: transparent; /* Fond de la piste */
}

/* Style de la barre */
.mainPolicyText::-webkit-scrollbar-thumb {
  background: #888; /* Couleur de la barre */
  border-radius: 4px; /* Coins arrondis pour un style discret */
}

/* Couleur au survol */
.mainPolicyText::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur plus sombre au survol */
}



h3 {
  margin-left: 40%;
  margin-bottom: 5%;
}

h4 {
  margin-bottom: 1%;
  text-align: left;
  color: #b3911f;
  border-bottom: 1px solid #b3911f;
}

span {
  color: #b3911f;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.8em;
}
