/*MAIN*/

main{
    width: 100vw;
    height: 150vh;
}

/*Conteneur section 1: navbar + divSection1*/

#section1{
    background:linear-gradient(to right, #144157, #367895);
    height: 20vh;
    display: flex;
    flex-direction: column;
}

        #navbar{
            background:linear-gradient(to right, #144157, #367895);
            width: 100%;
            height: 100%;
            background-color: white;
            display: flex;
            justify-content: space-evenly;
            position: relative;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:large;

        }
       
            .logo{
                width: 40%;
                height: 100%;
            }

            #navbar_Rside{
                width: 30%;
                height: 70%;
                display: flex;
                justify-content: space-evenly;
            }


            .menu{
                width: 20%;
                height: 65%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color:white;
                padding-top: 0.5%;
                
        
            }

                .div_navbar_Rside{
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color:white;
                    
                }



                    .btn_menu img{
                        height: 10%;
                    }

                     .btn_menu p{
                        height: 5%;
                        text-align: center;
                     }

                    .localisationText, .mailText, .phoneText{
                        width: 100%;
                        text-align: center;
                    }
                

                    .show{
                        display: block;
                    }
                
                  
                        .dropdownContent {
                            display: none;
                            position: absolute;
                            background-color: #f1f1f1;
                            width: 20%;
                            margin-top:7%;
                            border-radius: 3px;
                            z-index: 5;
                        }

                        .dropdownContent a {
                            color: #144157;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        } 

                        .show {display: block;}

                        a:hover{
                            background-color: #367895;
                            color: #f1f1f1;
                            font-size: larger;
                            
                            
                        }

/*Body*/

body{
    height: 110vh;
}


#current_page{
    color:white;
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d30031;
    border-radius: 5px;;
    width:12%;
    height: 6%;
    position:fixed;
    z-index: 10;
    left:-5%;
    top:50%;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    padding-top: 1%;
}

#Q_A{
    width: 100%;
    height: 90%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    color: #144157;
    text-align: justify;
}

h1{
    font-size: 2rem;
    color: #144157;
    margin-top: 3%;
    margin-bottom: 3%;
}

#Q_buy, #Q_rent{
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 2rem;
    border: 3px, solid, #144157;
}

#Q1, #Q2, #Q3, #Q1_loc, #Q2_loc, #Q3_loc{
    width:90%;
    font-size: 1rem;
    border: 3px, solid, #367895;
    border-radius: 3px;
}

.btn_question{
    font-family: "Patua One", serif;
    color: #D30031;
    font-size: x-large;
}
.p_answer{
    color:#144157;
    font-size: large;
    display: none;
}

button{
    background-color: transparent;
    border:none; 
    display: none;

}

#spanBuy, #spanRent{
    color: #D30031;
    text-decoration: underline;
}



/* Footer*/

Footer{
    height: 20vh;
    background:linear-gradient(to right, #144157, #367895);
    background-color: rgb(230, 133, 133);
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: solid 2px #D30031;
}

        #repeatnavbar{
            background:linear-gradient(to right, #144157, #367895);
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

                .logo{
                    width:40%;
                }
                        #logoImg{
                            width: 42%;
                        }

                .estimation {
                    width:20%;
                    border:none;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                }

                        .btn_estimation  {
                            background-color: #D30031;
                            border:red;
                            padding:3%;
                            width:80%;
                            font-size: x-large;
                            color:white;
                            text-align: center;
                            border-radius: 5px; 
                        }

                .localisation{
                    width:10%;
                    display: flex;
                    flex-direction: row;
                    margin-right: -4%;
                }

                        .btn_localisation{
                            background-color: transparent;
                            border:none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            font-size: large;
                            color:white;
                        }

                                .localisationIcon{
                                    width:25%;
                                }                                

                                .localisationText{
                                    width: 100%;   
                                }
                
                .mail{
                    width: 10%;
                    display: flex;
                    flex-direction: row;
                }

                        .btn_mail{
                            background-color: transparent;
                            border:none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            font-size: large;
                            font-size: large;
                            color:white;
                        }

                            .mailIcon{
                                    width:25%;
                            }

                            .mailText{
                                    width:100%;
                            }
                
                .phone{
                    width:10%;
                    display: flex;
                    flex-direction: row;
                    margin-left: -4%;
                }

                        .btn_phone{
                            background-color: transparent;
                            border:none;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            font-size: large;
                            font-size: large;
                            color:white;
                        }

                            .phoneIcon{
                            width: 28%;
                            }

                            .phoneText{
                                width:100%;
                            }


        #socialNetworks{
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            color: #144157;
            background-color: #367895;
        }

            #twitterIcon, #facebookIcon, #linkedinIcon{
                width: 2%;
                margin-top:1%;
                margin-bottom:1%;

            }
        
        #copyrights{
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color:  white;
            font-size: smaller;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            


        }
            #legacy{
                display: flex;
                flex-direction: row;
                
            }

            #webCreator{
                padding-right:1%;
            }

            #textCopyrights{
                padding-left:1%;
            }