.summeryContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer > img {
  transform: scale(1.4);
}

.summaryTable {
  border-collapse: collapse; /* Fusionne les bordures */
  width: 90%; /* Ajuste la largeur */
  margin: 20px auto; /* Centre le tableau */
  font-family: "GothamOfficeRegular";
  font-size: 18px; /* Taille de texte */
}

.summaryTable th,
.summaryTable td {
  border: 1px solid #ddd; /* Bordure fine et discrète */
  padding: 12px; /* Espacement interne */
  text-align: center; /* Centre le texte */
  color: black;
}

.summaryTable th {
  color: #b3911f;
}

.detailsTable td:nth-child(1) {
  padding-right: 10px; /* Espacement pour la bordure */
}

.detailsTable td:nth-child(2) {
  border-left: 1px solid #ddd; /* Bordure gauche avec une couleur claire */
  padding-left: 30px; /* Espacement pour la bordure */
}

/* Sous-tableau */
.detailsTable {
  width: 100%; /* Occupe toute la cellule */
  border-collapse: collapse;
  margin-top: 16px;
}

.detailsTable td {
  text-align: left; /* Aligne à gauche les données */
  padding: 5px;
  border: none; /* Supprime les bordures */
  font-size: 16px; /* Réduit légèrement la taille */
}

.bookButton {
  margin-top: 3%;
  padding: 10px 40px;
  border: 2px solid #b3911f;
  border-radius: 3px;
  background: #ffffff;
  color: #000000;
  font-size: 1em;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transition allongée */
  cursor: pointer;
  font-family: "GothamOfficeRegular";
}

.bookButton:hover {
  background-color: #b3911f;
  color: #ffffff;
}
