* {
  margin: 0;
  padding: 0;
}

.configuratorContainer {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.configuratorContainer > h2 {
  width: 100%;
  height: 5%;
  text-align: center;
  margin: 2%;
}

.configuratorImg {
  width: 60%;
  height: 70%;
}

.carConfiguratorBtns {
  width: 30%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15%;
  margin-bottom: 10%;
}

.carConfiguratorBtns .submitBtn {
  margin-top: 3%;
  padding: 10px 40px;
  border: 2px solid #b3911f;
  border-radius: 3px;
  background: #ffffff;
  color: #000000;
  font-size: 1em;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transition allongée */
  cursor: pointer;
  font-family: "GothamOfficeRegular";
}

.carConfiguratorBtns .submitBtn:hover {
  background-color: #b3911f;
  color: #ffffff;
}

.carConfiguratorBtns .resetBtn {
  margin-top: 3%;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
   color: #000000;
  font-size: 1em;
  text-transform: uppercase;
  transition: background-color 0.5s ease, color 0.5s ease; /* Transition allongée */
  cursor: pointer;
  font-family: "GothamOfficeRegular";
}

.carConfiguratorBtns .resetBtn:hover {
  background-color: rgb(240, 240, 240);
}
